<%= form_for(student) do |f| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :position %>
    <%= f.text_field :position %>
  </div>

  <div class="field">
    <%= f.label :parent1_first_name %>
    <%= f.text_field :parent1_first_name %>
  </div>

  <div class="field">
    <%= f.label :parent1_last_name %>
    <%= f.text_field :parent1_last_name %>
  </div>

  <div class="field">
    <%= f.label :parent1_phone_number %>
    <%= f.text_field :parent1_phone_number %>
  </div>

  <div class="field">
    <%= f.label :parent2_first_name %>
    <%= f.text_field :parent2_first_name %>
  </div>

  <div class="field">
    <%= f.label :parent2_last_name %>
    <%= f.text_field :parent2_last_name %>
  </div>

  <div class="field">
    <%= f.label :parent2_phone_name %>
    <%= f.text_field :parent2_phone_name %>
  </div>

  <div class="field">
    <%= f.label :parent1_email %>
    <%= f.text_field :parent1_email %>
  </div>

  <div class="field">
    <%= f.label :parent2_email %>
    <%= f.text_field :parent2_email %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
