<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-heading">Activity List</div>
  <!-- <div class="panel-body">
  </div> -->

  <table class="table">
    <thead>
      <tr>
        <th>Teacher</th>
        <th>Activity name</th>
        <th>Place</th>
        <th>Date from</th>
        <th>Date to</th>
        <th colspan="1"></th>
      </tr>
    </thead>
    <% @activities.each do |activity| %>
      <tr>
        <!-- Teacher.find_by_id(5).first_name+" "+Teacher.find_by_id(5).last_name -->
        <td><%= Teacher.find_by_id(activity.teacher_id).first_name+" "+Teacher.find_by_id(activity.teacher_id).last_name %></td>
        <td><%= activity.activity_name %></td>
        <td><%= activity.place %></td>
        <td><%= activity.date_from %></td>
        <td><%= activity.date_to %></td>
        <td><%= link_to 'Show', activity %></td>
      </tr>
    <% end %>
  </table>
</div>

<!-- <table>
  <thead>
    <tr>
      <th>Teacher</th>
      <th>Activity name</th>
      <th>Place</th>
      <th>Date from</th>
      <th>Date to</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.teacher_id %></td>
        <td><%= activity.activity_name %></td>
        <td><%= activity.place %></td>
        <td><%= activity.date_from %></td>
        <td><%= activity.date_to %></td>
        <td><%= link_to 'Show', activity %></td>
        <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
        <td><%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Activity', new_activity_path %> -->
